.numbered-list{
    min-width: 200px;
    max-width: 600px;
    margin: auto;
}

.numbered-list p{
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #20c997 0%, #17a2b8 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 30px;
    counter-increment: section;
    position: relative;
    color: #000;
} 

/* numbers */
.numbered-list p::before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    background-color: #000c05;
    text-align: center;
    line-height: 2.5em;
    color: #fff;
    font-size: 1em;
  }

  /* odd number borders */
  .numbered-list p:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
  }
  
  .numbered-list p:nth-child(odd)::before {
    left: 100%; 
    margin-left: -20px;
  }

  /* even number borders */
  .numbered-list p:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
  }
  
  .numbered-list p:nth-child(even)::before {
    right: 100%; 
    margin-right: -20px;
  }
 
  /* remove borders from 1st and last */
 .numbered-list p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
  padding-top: 20px;
}
.numbered-list p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}